<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro Aluno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
      <fieldset>
        <legend>Dados do Aluno</legend>
        <form [formGroup]="formAluno" (submit)="adcAluno()">
          <div class="form-group">
            <label for="idnome"></label>
            <input formControlName="nome" class="form-control" type="text" id="idnome" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="idmatricula"></label>
            <input formControlName="matricula" class="form-control" type="number" id="idmatricula" placeholder="Matricula">
          </div>
          <div class="form-group">
            <label for="idemail"></label>
            <input formControlName="email" class="form-control" type="email" id="idemail" placeholder="E-mail">
          </div>
          <div class="form-group">
            <button [disabled]="formAluno.invalid" class="btn btn-block btn-dark btn-lg" type="submit">Enviar</button>
          </div>
        </form>
      </fieldset>
    </div>
</ion-content>
