<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Alunos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Matricula</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos">
          <th scope="row">{{ aluno.id }}</th>
          <td>{{ aluno.nome }}</td>
          <td>{{ aluno.matricula }}</td>
          <td>{{ aluno.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
